# NextAuth Configuration
NEXTAUTH_URL=http://127.0.0.1:3000
NEXTAUTH_SECRET=your_nextauth_secret_here

# Spotify OAuth
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Google / YouTube OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Scopes Required:
# Spotify: user-read-email, playlist-read-private, user-top-read
# Google: openid, email, profile, https://www.googleapis.com/auth/youtube.readonly
